<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary" %>
  </div>

  <table>
    <tr>
        <th>Quote</th>
        <th>Author</th>
        <th>Category</th>
        <th span="2">Actions</th>
    </tr>
    <%= render @quotes %>
  </table>
</main>